<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Contact</title>
    <link rel="stylesheet" href="../static/formStyle.css">
</head>
<body>
    <h1>Informaton</h1>
    <form action="/file" method="post">
        Name: <input type="text" width="50"> <br>
        Age: <input type="text" name="age" width="50"> <br>
        Sex:<input type="radio" name="sex" value="Male">Male
            <input type="radio" name="sex" value="Female"> Female <br>
        Address: <select name="address" id="add">
                <option value="Tokyo">Tokyo</option>
                <option value="Kyoto">Kyoto</option>
                <option value="Osaka">Osaka</option>
            </select> <br>
        
        Account: <input type="text" name="account" width="50"><br>
        Password: <input type="password" name="pass" width="50"><br>
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">

    </form>
</body>
</html>