<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Menu</title>
</head>
<body>
    <h2>Choose following title</h2>
    <form action="checkbook" method="post">
        <select name="book" size="1">
            <option value="Java"> Java</option>
            <option value="Oracle">Oracle</option>
            <option value="Java Basic">Java Basic</option>
        </select>
        <input type="submit" value="submit">
    </form>
    <h2>Cart</h2>
</body>
</html>